# Context

## 1.1. Company

House Rocket is a company that buy properties when the prices are low and sell them for higher prices through an online platform of buy and selling properties looking foward some profit.

## 1.2 Business Questions

- How many properties are available for buying?
- How many attributes these properties have?
- What are the propertis attributes?
- What is the expensier property?
- What is the propertiy with more bedrooms?

- What is the total number of bedrooms in this dataset?
- How many properties have 2+ bathrooms?
- What is the average price for properties in this dataset?
- What is the average price for properties with 2+ bathrooms?
- What is the mininum price for properties with 3+ bedrooms?
- How many properties have a living room with 300+ ft²?
- How many properties have 2+ floors?
- How many properties have waterview?
- How many properties have 3+ bedrooms and waterview?
- How many properties have a living room with 300+ ft² and 2+ bedrooms?

# 2. Solution Planning

## Input

Data can be downloaded from the link https://www.kaggle.com/harlfoxem/housesalesprediction

## Output

A table with the business questions answered

## Tasks

Explore the data with python in order to get the answers.

# 0. SETTINGS

## 0.1 Imports

In [128]:
import pandas as pd
import numpy as np

from tabulate import tabulate

## 0.1. Helper Functions

## 0.2. Definitions

In [129]:
HOME_PATH = '~/repos/python_zero_ao_ds'

## 0.3 Data Loading

In [130]:
data_file = HOME_PATH+'/data/raw/kc_house_data.csv'
df_raw = pd.read_csv(data_file)
df_raw.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

# 1. DATA DESCRIPTION

In [131]:
questions = ['How many properties are available for buying?',
             'How many attributes there properties have?',
             'What are the properties attributes?',
             'What is the expensier property?',
             'What is the property with more bedrooms?',
             'What is the total of bedrooms in this dataset?',
             'How many properties have 2+ bathrooms?',
             'What is the average price in this dataset?',
             'What is the average price for properties with\n2+ bathrooms?',
             'What is the mininum price for properties with\n3+ bedrooms?',
             'How many properties have a living room with\n300+ m²?',
             'How many properties have more than 2 floors?',
             'How many properties have waterview?',
             'How many properties have 3+ bedrooms\nand water view?',
             'How many properties have a living room with\n300+ m² and 2+ bedrooms?'
            ]

answers = []

Question 1: How many properties are available for buying?

In [132]:
n_properties = df_raw.shape[0]
answers.append('There are {:,.0f} properties.'.format(n_properties))

Question 2: How many attributes these properties have?

In [133]:
n_attributes = len(df_raw.drop(['id', 'date'], axis=1).columns)
answers.append('There are {:,.0f} attributes.'.format(n_attributes))

Question 3: What are the propertis attributes?

In [134]:
attributes_list = df_raw.drop(['id', 'date'], axis=1).columns.tolist()
attributes = 'Attributes:\n'
i = 0
for a in attributes_list:
    attributes = attributes + a + ','
    if i == 5:
        attributes = attributes + '\n'
        i = 0
    else:
        i += 1
answers.append(attributes[:-1])

Question 4: What is the expensier property?

In [135]:
aux = df_raw[['id', 'price']].nlargest(1, 'price')
expensier = 'Property id: {} and price {:,.2f}.'.format(aux['id'].values[0], aux['price'].values[0])
answers.append(expensier)

Question 5: What is the propertiy with more bedrooms?

In [136]:
aux = df_raw[['id', 'bedrooms']].nlargest(1, 'bedrooms')
more_bedrooms = 'Property id: {} has more bedrooms with {:,.0f} in total.'.format(aux['id'].values[0], aux['bedrooms'].values[0])
answers.append(more_bedrooms)

Question 6: What is the total number of bedrooms in this dataset?

In [137]:
sum_bedrooms = '{:,.0f} bedrooms.'.format(df_raw['bedrooms'].sum())
answers.append(sum_bedrooms)

Question 7: How many properties have 2+ bathrooms?

In [138]:
prop_2plus_bedrooms = '{:,.0f} properties.'.format(df_raw.loc[df_raw['bedrooms'] > 1, 'id'].count())
answers.append(prop_2plus_bedrooms)

Question 8: What is the average price for properties in this dataset?

In [139]:
avg_price = '{:,.2f}'.format(df_raw['price'].mean())
answers.append(avg_price)

Question 9: What is the average price for properties with 2+ bathrooms?

In [140]:
avg_price_2plus_bath = '{:,.2f}'.format(df_raw.loc[df_raw['bathrooms'] > 1, 'price'].mean())
answers.append(avg_price_2plus_bath)

Question 10: What is the mininum price for properties with 3+ bedrooms?

In [141]:
min_price_3plus_bed = '{:,.2f}'.format(df_raw.loc[df_raw['bedrooms'] > 2, 'price'].min())
answers.append(min_price_3plus_bed)

Question 11: How many properties have a living room with 300+ m²?

In [142]:
# 1 feet = 0.3048 meters
filter_300sqm = 300 / 0.3048
prop_300plus_sqm = '{:,.0f}'.format(df_raw.loc[df_raw['sqft_living'] >= filter_300sqm, 'id'].count())
answers.append(prop_300plus_sqm)

Question 12: How many properties have more than 2 floors?

In [143]:
prop_2plus_floors = '{:,.0f}'.format(df_raw.loc[df_raw['floors'] > 2, 'id'].count())
answers.append(prop_2plus_floors)

Question 13: How many properties have waterview?

In [144]:
prop_waterview = '{:,.0f}'.format(df_raw.loc[df_raw['waterfront'] == 1, 'id'].count())
answers.append(prop_waterview)

Question 14: How many properties have 3+ bedrooms and waterview?

In [145]:
prop_waterview_3plus_bed = '{:,.0f}'.format(df_raw.loc[(df_raw['bedrooms'] > 2) & (df_raw['waterfront'] == 1), 'id'].count())
answers.append(prop_waterview_3plus_bed)

Question 15: How many properties have a living room with 300+ m² and 2+ bedrooms?

In [146]:
prop_300plus_sqm_2plus_bed = '{:,.0f}'.format(df_raw.loc[(df_raw['sqft_living'] >= filter_300sqm) & (df_raw['bedrooms'] > 1), 'id'].count())
answers.append(prop_300plus_sqm_2plus_bed)

In [147]:
business_questions = []
for i in range(len(questions)):
    business_questions.append([questions[i], answers[i]])
    
business_questions.insert(0, ['BUSINESS QUESTIONS', 'ANSWERS FROM DATA'])

In [148]:
print(tabulate(business_questions, headers='firstrow', tablefmt='fancy_grid'))

╒════════════════════════════════════════════════╤═════════════════════════════════════════════════════════════╕
│ BUSINESS QUESTIONS                             │ ANSWERS FROM DATA                                           │
╞════════════════════════════════════════════════╪═════════════════════════════════════════════════════════════╡
│ How many properties are available for buying?  │ There are 21,613 properties.                                │
├────────────────────────────────────────────────┼─────────────────────────────────────────────────────────────┤
│ How many attributes there properties have?     │ There are 19 attributes.                                    │
├────────────────────────────────────────────────┼─────────────────────────────────────────────────────────────┤
│ What are the properties attributes?            │ Attributes:                                                 │
│                                                │ price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,       │
│                                                │ waterfront,view,condition,grade,sqft_above,sqft_basement,   │
│                                                │ yr_built,yr_renovated,zipcode,lat,long,sqft_living15,       │
│                                                │ sqft_lot15                                                  │
├────────────────────────────────────────────────┼─────────────────────────────────────────────────────────────┤
│ What is the expensier property?                │ Property id: 6762700020 and price 7,700,000.00.             │
├────────────────────────────────────────────────┼─────────────────────────────────────────────────────────────┤
│ What is the property with more bedrooms?       │ Property id: 2402100895 has more bedrooms with 33 in total. │
├────────────────────────────────────────────────┼─────────────────────────────────────────────────────────────┤
│ What is the total of bedrooms in this dataset? │ 72,854 bedrooms.                                            │
├────────────────────────────────────────────────┼─────────────────────────────────────────────────────────────┤
│ How many properties have 2+ bathrooms?         │ 21,401 properties.                                          │
├────────────────────────────────────────────────┼─────────────────────────────────────────────────────────────┤
│ What is the average price in this dataset?     │ 540,088.14                                                  │
├────────────────────────────────────────────────┼─────────────────────────────────────────────────────────────┤
│ What is the average price for properties with  │ 583,280.65                                                  │
│ 2+ bathrooms?                                  │                                                             │
├────────────────────────────────────────────────┼─────────────────────────────────────────────────────────────┤
│ What is the mininum price for properties with  │ 82,000.00                                                   │
│ 3+ bedrooms?                                   │                                                             │
├────────────────────────────────────────────────┼─────────────────────────────────────────────────────────────┤
│ How many properties have a living room with    │ 20,248                                                      │
│ 300+ m²?                                       │                                                             │
├────────────────────────────────────────────────┼─────────────────────────────────────────────────────────────┤
│ How many properties have more than 2 floors?   │ 782                                                         │
├────────────────────────────────────────────────┼─────────────────────────────────────────────────────────────┤
│ How many properties have waterview?            │ 163                                                         │
├────────────────────────────────────────────────┼─────────────────────────────────────────────────────────────┤
│ How many properties have 3+ bedrooms           │ 127                                                         │
│ and water view?                                │                                                             │
├────────────────────────────────────────────────┼─────────────────────────────────────────────────────────────┤
│ How many properties have a living room with    │ 20,180                                                      │
│ 300+ m² and 2+ bedrooms?                       │                                                             │
╘════════════════════════════════════════════════╧═════════════════════════════════════════════════════════════╛